.top-bar {
  z-index: 100;
  width: 100%;
  background-color: #fff;
  height: 60px;
  position: fixed;
  border-bottom: solid 1px #ddd; }
  .top-bar .col-xs-4 {
    padding: 0; }
  .top-bar #top-bar-content {
    padding: 0;
    box-shadow: unset; }
  .top-bar .top-bar.child {
    display: inline-table;
    width: auto;
    color: #222;
    box-shadow: unset; }
    .top-bar .top-bar.child.icon {
      font-size: 24px; }
    .top-bar .top-bar.child:active {
      background-color: #eee; }
    .top-bar .top-bar.child > span {
      display: table-cell;
      vertical-align: middle;
      padding: 0 20px;
      color: inherit; }

.brand-logo {
  padding: 10px; }
  .brand-logo img {
    max-width: 100%;
    height: auto;
    width: auto; }

.avatar {
  width: 45px;
  height: 45px; }
  .avatar img {
    margin-top: 8px;
    border-radius: 100px;
    max-width: 100%;
    height: auto;
    width: auto; }
