#navbarResponsive {
  #sidebar-nav {
    transition: width .5s ease;
    width: 200px;
  }
  &.minimize {
    #sidebar-nav {
      transition: width .5s ease;
      width: 50px;
      li {
        width: 50px;
        transition: display .5s ease;
        & > .nav-link {
          & > span.nav-link-text {
            
            display: none;
          }
        }
      }
      li:hover {
        transition: display .5s ease;
        & > .nav-link {
          position: relative;
          & > span.nav-link-text {
            position: absolute;
            top: .35em;
            opacity: .7;
            left: 35px;
            box-shadow: 0 0 5px #eee;
            display: inline-block;
            padding: .5em 1em;
            background-color: #fff;
            color: #111;
            border: solid 1px #d9d9d9;
          }
        }
      }
    }
  }
}